body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.navbar {
  padding: 2em;

}

.MuiListItem-container{
  border: black;
  border-style: inset;
  border-width: 1px;
  width: 1000px;
}

.MuiAvatar-colorDefault {
  color: #fafafa;
  background-color: #1d1c1c;
}

select:hover{
  color: black
}

option {
  font-size: large;
}



select {
  border: none
}

.MuiButtonBase-root:focus{
  color: red
}

.MuiButtonBase-root:hover{
  color: red
}


.categories-container{
  padding: 1em;
  margin: 1rem 2rem;
}


.bookmark-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.forms-container {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 17rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.MuiGrid-item {
  border: black
}


span.MuiButton-label:focus {
  background-color: black
}

div.MuiSelect-select.MuiSelect-select{
  width: 140px
}

ul.MuiList-root.MuiMenu-list.MuiList-padding {
  padding-top: 20px;
  padding-bottom: 10px;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #000000;
}

.MuiInput-underline:before {
  border-bottom: 2px solid #000000;
}




